.total{
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, #CAD9EE 100%), #FFFFFF;
    padding-bottom: 54px;
    padding-top: 33px;
}

.foto{
    background-image: url('../../../image/Rectangle\ 10.png');
    background-repeat: round;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 145px;
    width: 145px;
    position: relative;
    margin-top: 34px;
    margin-bottom: 34px;
}
@media (min-width:992px){
    .doacoes-alinhamento-foto{

    }
}

@media (min-width:992px){
    .foto{
    width: 350px;
    height: 350px;
    background-repeat:inherit ;
    
    }
}
.foto2{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:992px){
    .foto2{
     width: 243.48px;
     height: 237.39px;

    }
}
.total1{
    background-color: #FFFFFF;
    border: 4px solid #CAD9EE;
box-sizing: border-box;
border-radius: 4px;

}
@media (min-width:992px){
    .total1{

    }
}
@media (min-width:992px){
    .desk{
        width: 445px;

    }
}
.titulo{
  padding-top: 33px;
  padding-bottom: 24px;
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 150%;
color: #D43F36;
}

@media (min-width:992px){
    .titulo{
        font-weight: 600
    }
}

.titulo h2{
    padding-left: 28px;
    padding-right: 28px;
}
.texto{
   padding-bottom: 17px;
   
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: #303030;

}

@media (min-width:992px){
    .doacoes-espacamento-titulo{

        
    }
}
.texto h3{
    text-align: left;
    padding-left: 28px;
    padding-right: 28px;
}
.link-doacao{
    padding-bottom: 35px ;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #3A6CB2;
}
.link-doacao a {
    padding-left: 28px;
}