.copyright{
    background-color: #F0F0F5;
    position: absolute;
    width: 100%;
    padding-bottom: 14px;
    padding-top: 8px;
}

@media (min-width:992px){
    .copyright{
    width: 100%;
    height: auto;
    padding: 0;
    }
}

@media(min-width:992px){
    .copyright-position{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.direitos{
    margin-top: 8px;
    margin-bottom: 9px;
    text-align: center;
    font-size: 16px;
    line-height: 150%;
    
    color: #303030;
    
}

@media (min-width:992px){
    .direitos{
        margin-left: 50%;
        transform: translate(-50%);
    
    
    }
}

.footer-logo {
    display:table;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:992px){
    .footer-logo{
       margin-right: 0;
    }

}

.desenvolve{
    margin-bottom: -5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    color: #303030;
    width: 100%;
    text-align: right;
    display: block;
}
 
@media (min-width:992px){
    .desenvolve{
        padding-top: 3px;
    }
}