.fundo-modal-matricula{
    background: rgba(0, 0, 0, 0.65);
}


.posição-footer-modal-matricula{
    justify-content: center;
}

.texto-modal-matricula{
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #303030;
}

@media (min-width:576px){
    .texto-modal-matricula{
        font-size: 32px;
    }
}

.btn-modal-matricula{
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    background-color:  #D43F36;
    border-color:  #D43F36;
}

.btn-modal-matricula:hover{
    color: #E9CC1D;
    background-color:#b1211a;
    border-color: #b1211a;
}

.btn-modal-matricula:focus{
    color: #E9CC1D;
    background-color:#b1211a;
    border-color: #b1211a;
}