.superior{
    background-color: #D43F36;
    
}
.lista1{
    list-style-type: none;
    padding: 0px;
}

.lista2{
    padding: 0px;

    list-style-type: none;
    color: #FFFFFF;
    margin-bottom: 0;

}

@media (min-width:992px){
    .lista2{
        font-size: 20px;
        padding-top: 29px;
    }
}
.icone-lista2{
    font-size: 20px;
line-height: 150%;

padding-right: 9px;
}
.marge1{
    padding-top: 37px;
}
@media (min-width:992px){
    .marge1{
        padding-top: 20px;
    }
}
.marge2{
    padding: 0px;
    padding-top: 5px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
}

@media (min-width:992px){
    .marge2{
        padding-top: 62px;
        text-align: right;
    }
}
.centro{
    padding-bottom: 30px;
}
@media (min-width:992px){
    .centro{
        padding-bottom: 13px;
    }
}
@media (min-width:992px){
    .centro2{
        display: -webkit-inline-box;
    }
}
@media (min-width:992px){
    .centro3{
        padding-left: 67px;
    }
}

.icones{
    align-items: center;
    position: relative;
   font-size: 45px;
   line-height: 52px;
   color: #FFFFFF;
   
   
}
.iconec{
    
    position: relative;
   font-size: 45px;
   line-height: 52px;
   color: #FFFFFF;
   margin-right:64px;  
   margin-left: 64px;

}




.rodape{
    background-color: #F0F0F5;
    position: absolute;
    width: 100%;
    
}
@media (min-width:992px){
    .rodape{
    width: 100%;
    height: auto;
    }
}

.direitos{
    margin-top: 8px;
    margin-bottom: 9px;
    text-align: center;
    font-size: 16px;
    line-height: 150%;
    
    color: #303030;
    
}
@media (min-width:992px){
    .direitos{
        width: 100%;
    
    text-align: right;
    position: relative;
    left: 90px;
    }
}

@media (min-width:992px){
    .footer-logo{
        position: relative;
        
        margin-top: 2px;
    }

}
    

.desenvolve{
margin-bottom: -6px;
font-weight: 500;
font-size: 14px;
line-height: 110%;

color: #303030;
width: 100%;
    position: relative;
    text-align: center;
    left: 27px;

}

@media (min-width:992px){
    .desenvolve{
        position: relative;
        text-align: right;
        left: 0px;
    }
}

.iconebt{
    
    border-bottom: 14px;
    margin-bottom: 19px;
    position: relative;
    text-align: center;
  
 
}
@media (min-width:992px){
    .iconebt{
        position: relative;
        text-align: right;
    }
}